<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/head'); %> 
    
    <form action="/create-question" method="POST" id="create-question-form">
        <label for="titre">Question:</label>
        <input type="text"  name="titre" style="display: block; width: 25%; margin: 5px;" required>
        <label for="nom_module">Module:</label>
        <select name="nom_module" id="modules">
            <% Modules.forEach(m=>{ %> 
                <option><%= m.nom_module %> </option>
            <% }) %>     
        </select>
        <label for="description">Description de question:</label>
        <textarea name="description" id="" cols="50" rows="5" style="display: block;" required></textarea>
        <button>Ajouter question</button>
    </form>
</body>
</html>