<nav>
    <div class="navbar" >
        <a href="/">Accueil</a>
        <a href="/discussions/create"
        style=" text-decoration: None; color:yellowgreen;"
        >
        Demarrer une discussion!
        </a>
        <a href="/create-question"
        style=" text-decoration: None; color:yellowgreen;"
        >
        Ajouter Question!
        </a>
        <a href="/logout"
        style=" text-decoration: None; color:white; background-color: crimson; border: 2px solid black; "
        >
        LOGOUT
        </a>
        
    </div>
</nav>