<nav>
    <div class="navbar" >
        
       
        <a href="/logout"
        style=" text-decoration: None; color:white; background-color: crimson; border: 2px solid black; "
        >
        Log Out!
        </a>
        <a  href="/acces-moderateur/bord-moderateur" 
         style=" text-decoration: None; color:white; background-color: green; border: 2px solid black; margin-left: 5px;">
         Tableau de bord
        </a>
    </div>
</nav>